<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<% if current_user %>

  <% if not @beer_club.members.include?(current_user) %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beerclub" %>
    <% end %>
  <% else %>
    <%= form_with(model: @membership, method: :delete) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "End the membership" %>
    <% end %>
  <% end %>

  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %>

    <%= button_to "Destroy this beer club", @beer_club, method: :delete %>
  </div>

<% end %>