<div id="<%= dom_id beer %>">
  <h2>
    <%= link_to beer.name, beer %>
  </h2>

  <p>
    <strong>Style:</strong>
    <%= link_to beer.style.name, beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <% if beer.ratings.empty? %>
    beer has not yet been rated!
  <% else %>
    Beer has <%= pluralize(beer.ratings.count, 'rating') %> with an average of <%= beer.average_rating %>
  <% end %>
  
</div>
